.item {
    text-align: center;    
    font-size: 25px;
    padding: 1rem;
    height: 25px;
    width: 50px;
}

.cons {
border: 1px solid; color:  rgb(216, 2, 2);
display: flex;
justify-content: space-between;
flex-wrap: wrap-reverse;
align-items: center;
flex-direction: row;
}

.item-1 {
    background-color: rgb(4, 159, 159);
    order: 1;
    flex-grow: 100;
}

.item-2 {
    background-color: rgb(143, 163, 163);
}

.item-3 {
    background-color: rgb(16, 116, 116);
}

.item-4 {
    background-color: rgb(79, 104, 104);
}

.item-5 {
    background-color: rgb(20, 73, 73);
}

.item-6 {
    background-color: rgb(26, 57, 57);
}

